.nav-container {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-bottom: 1.5vh;
    justify-content: center;
}

.nav {
    display: flex;
    overflow: hidden;
    height: 11vh;
    background-color: rgba(84, 84, 84, 0.64);
    border-radius: 3vh;
    width: 90vw;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 1vw;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    gap: 0.2em;
    font: 700 3.6vw "M PLUS 1p";
    color: #FFFFFF;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.separator {
    height: 7vh;
    width: 1vw;
    align-self: center;
}

.nav__icon {
    max-width: 9vw;
    max-height: 4vh;
}