
body {
    background: #000000;

}

.friends-background-container .background__circle {
    z-index: -1;
    height: 100vh;
    width: 110vw;
    background: radial-gradient(closest-side, rgba(127, 255, 55, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    top: -51vh;
}

.friends-background-container {
    display: flex;
    justify-content: center;
    align-content: center;
}


.friends-main-container {
    z-index: 1;

    padding-top: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.friends-main-container .main__text {
    user-select: none;
    color: #FFFFFF;
    font-family: "M PLUS 1p", sans-serif;
}
.header__text--bold {

}